{% extends "layout.html" %}

{% block pageTitle %}
FA Availability Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Child profile
            <span class="govuk-caption-xl">Paul Smith</span>
        </h1>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Gender:
            </dt>
            <dd class="govuk-summary-list__value">
                Male
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Age
            </dt>
            <dd class="govuk-summary-list__value">
                5
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date placement is needed from:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                How long placement is needed for:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Current address:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                School
            </dt>
            <dd class="govuk-summary-list__value">
                Alpha
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Type placement is needed:
            </dt>
            <dd class="govuk-summary-list__value">
                Long-term
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Local authority:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Child’s social worker:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Contact arrangements with birth family:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Ethnicity, language and religion</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Ethnicity:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Languages spoken:
            </dt>
            <dd class="govuk-summary-list__value">
                English
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Religion
            </dt>
            <dd class="govuk-summary-list__value">
                Catholic
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Education (school-age children)</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                School year and key stage:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Attendance:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Extra-curricular activities:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Physical and developmental health</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                GP:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Dentist:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Allergies:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Medical conditions or disabilities:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Accessibility requirements:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Family life, relationships, likes and dislikes</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Hobbies and interests:
            </dt>
            <dd class="govuk-summary-list__value">
                cars, Lego, Thomas the tank Engine
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Favourite foods / least favourite foods:
            </dt>
            <dd class="govuk-summary-list__value">
                pasta, pizza, ice cream - least - greens
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Likes pets? Any allergies to pets?
            </dt>
            <dd class="govuk-summary-list__value">
                yes, cats
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Best way to show affection to the child:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Care history and permanence plan</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                When did the child first enter the care of the local authority?
            </dt>
            <dd class="govuk-summary-list__value">
                02/12/2018
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Details of last placement:
            </dt>
            <dd class="govuk-summary-list__value">
                kinship with grand mother
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Long term care plans – will the child be returned to the birth family?
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

{% endblock %}