{% extends "layout.html" %}

{% block pageTitle %}
FA Availability Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Foster parent profile
            <span class="govuk-caption-xl">{{ parent.title }} {{ parent.fname }} {{ parent.surname }}</span>
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Working through:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Gender:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.gender }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date of birth:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Age:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Address:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.address }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Distance from child’s school:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Languages spoken in addition to English:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.language2 }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Ethnic group:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.ethnic }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Religion:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.religion }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Date qualified as a foster parent:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Approved to foster</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                How many children?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.noExistingChildren }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Type of fostering:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.type }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                For these ages:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.childAgeRange }}
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Availability</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Beds currently available:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Household</h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Accommodation type:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Total number of beds available for foster children:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.beds }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Other people in household:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Pets:
            </dt>
            <dd class="govuk-summary-list__value">
                {{ parent.pets }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Accessibility:
            </dt>
            <dd class="govuk-summary-list__value">
                -
            </dd>
        </div>
    </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Training and qualifications </h3>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Principles and values for fostering:
            </dt>
            <dd class="govuk-summary-list__value">
                Completed
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Foster carer role:
            </dt>
            <dd class="govuk-summary-list__value">
                Completed
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Health and safety:
            </dt>
            <dd class="govuk-summary-list__value">
                Completed
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Health care:
            </dt>
            <dd class="govuk-summary-list__value">
                Undergoing
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                How to communicate effectively:
            </dt>
            <dd class="govuk-summary-list__value">
                Completed
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Understand child development:
            </dt>
            <dd class="govuk-summary-list__value">
                Requested
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Keeping children safe from harm:
            </dt>
            <dd class="govuk-summary-list__value">
                Completed
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Develop yourself:
            </dt>
            <dd class="govuk-summary-list__value">
                Requested
            </dd>
        </div>
    </dl>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Special needs and disability skills: </h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>moderate learning difficulty</li>
        <li>social, emotional and mental health issues</li>
        <li>speech, language and communication needs </li>
    </ul>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-l">Driving license and vehicle: </h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>Full UK:  {{ parent.drivingLicence }}</li>
        <li>Own vehicle: {{ parent.car }}</li>
    </ul>
    </div>
</div>

{% endblock %}