{% extends "layout.html" %}

{% block pageTitle %}
FA Availability Prototype
{% endblock %}

{% block content %}

{% include "availability/components/result-header.html" %}

    <div class="govuk-grid-row">
        {% for fp in fosterParents %}
        {% set parent=fp %}
        <div class="govuk-grid-column-one-half">
        {% include "availability/components/card.html" %}
        </div>
        {% else %}
        <p class="govuk-body">You have no foster parents in your list.</p class="govuk-body">
        {% endfor %}
    </div>

{% endblock %}