
{% extends "layout.html" %}

{% block pageTitle %}
  FA Availability Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Find a foster parent
        <span class="govuk-caption-xl">Find a foster parent for a looked after child</span>
      </h1>
      <h2 class="govuk-heading-l">Use this tool to:</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>see a list of foster parents approved to foster a selected child’s age, needs and location</li>
          <li>check their availability</li>
          <li>make a shortlist using a range of filters</li>
          <li>read the child’s profile and the foster carer’s profile</li>
          <li>make notes against your shortlist as you contact foster parents</li>
          
      </ul>

      <form action="/search-confirmation" method="post" class="form">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
                Enter the child’s ID
            </h3>
          </legend>
        
          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-12" id="address-line-1" name="address-line-1" type="text">
          </div>

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                  Search for foster parents in this location:
              </h3>
            </legend>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
                Enter a postcode, town or region
            </label>
            <input class="govuk-input govuk-input--width-12" id="address-line-2" name="address-line-2" type="text">
          </div>
        
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
                Search distance
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
          </div>
          </div>
          <div class="govuk-grid-column-two-thirds">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
              &nbsp;
            </label>
            <input class="govuk-input govuk-input--width-3" id="address-county" placeholder="miles" name="address-county" type="text">
          </div>
          </div>
          </div>
        
          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h3 class="govuk-fieldset__heading">
                      When is the placement needed by?
                  </h3>
                </legend>
                <span id="passport-issued-hint" class="govuk-hint">
                  For example, 12 11 2007
                </span>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button" href="/search-confirmation">
                Start now
              </button>
        
        </fieldset>
      </form>
    </div>
</div>

{% endblock %}
